/**
 * Written by John Claassen
 * 
 */

/*General Styling****************************************************************/
@font-face {
    font-family: optien;
    src: url(../resources/Optien.ttf);
}
.optien{
	font-family:optien;
}
.font1{
	/**/font-family:Tahoma, Geneva, sans-serif;/**/
	/** /font-family:Verdana, Geneva, sans-serif;/**/
}
.font2{
	/** /font-family:Tahoma, Geneva, sans-serif;/**/
	/**/font-family:Verdana, Geneva, sans-serif;/**/
}
.font1_s{
	/**/font-family:Tahoma, Geneva, sans-serif;/**/
	/** /font-family:Verdana, Geneva, sans-serif;/**/
	letter-spacing:.065em;/**/
}
.font2_s{
	/** /font-family:Tahoma, Geneva, sans-serif;/**/
	/**/font-family:Verdana, Geneva, sans-serif;/**/
	letter-spacing:initial;
}
p{
	/**/font-family:Tahoma, Geneva, sans-serif;/**/
	/** /font-family:Verdana, Geneva, sans-serif;/**/
	letter-spacing:.065em;/**/
	text-align:justify;
	font-size:15px;
	line-height:1.5;
}
h1{
	/** /font-family:Tahoma, Geneva, sans-serif;/**/
	/**/font-family:Verdana, Geneva, sans-serif;/**/
	letter-spacing:.005em;
	font-size:30px;
	font-weight: normal;
	margin:10px 0 18px;
}
h2{
	/**/font-family:Arial, Helvetica, sans-serif;/**/
	letter-spacing:.01em;
	font-size:18px;
	font-weight: normal;
	font-style:italic;
	color:#888888;
	margin:10px 0;
}
.left{
	float:left;
}
.right{
	float:right;
}

@media only screen and (min-width:601px){
	h1{
		font-size:38px;
	}
}
@media only screen and (min-width:1001px){
	h1{
		font-size:46px;
	}
	h2{
		font-size:18px;
	}
}
/*Header*************************************************************************/

/*Button Colors*/
.h0_button{
	display:inline-block;
	box-sizing:border-box;
	padding:7px 10px;
	border:none;
	font-size:18px;
	height:36px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	letter-spacing:.05em;
	text-decoration:none;
	cursor:pointer;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;unselectable="on";
}
.h0b_colors:link, .h0b_colors:visited, .h0b_colors{
	-webkit-transition:background-color .3s, color .3s;
	-moz-transition:background-color .3s, color .3s;
	-o-transition:background-color .3s, color .3s;
	color:black;
	background-color:#616666;
}
.h0b_colors:hover{
	background-color:#515555;
}
.h0b_colors:active{
	-webkit-transition:background-color 0s, color 0s;
	-moz-transition:background-color 0s, color 0s;
	-o-transition:background-color 0s, color 0s;
	color:black;
	background-color:#414444;
}
.h0_selected_color{
	color:black;
	background-color:#414444;
}
#h0s_checkbox:checked + div #h0s_button_div,
#h0s_checkbox:checked + div #h0s_button_div:hover,
#h0s_checkbox:checked + div #h0s_button_div:active{
	background-color:#414444;
}
#h0m_checkbox:checked + div div #hb_menu{
	background-color:#414444;
}
.h0m_button{
	box-sizing:border-box;
	float:left;
	width:100%;
	height:36px;
	-webkit-transition:background-color .3s, color .3s;
	-moz-transition:background-color .3s, color .3s;
	-o-transition:background-color .3s, color .3s;
	color:black;
	/** /
	background-color:white;/**/
}
.h0m_button:hover{
	background-color:#bbbbbb;
}
.h0m_button:active{
	-webkit-transition:background-color 0s, color 0s;
	-moz-transition:background-color 0s, color 0s;
	-o-transition:background-color 0s, color 0s;
	background-color:#515555;
	color:black;/**/
}
/*End of Button Colors*/
.h0_button_pic{
	height:100%;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;unselectable="on";
}

.h0_left{
	float:left;
}
.h0_right{
	float:right;
}
.h0m_col{
	box-sizing:border-box;
	height:auto;
	width:100%;
	display:inline-block;
	float:left;
	/** /border:orange 1px solid;/**/
}
@media only screen and (min-width:601px){
	#h0b-0{
		display:none;
	}
	#header{
		height:126px;
	}
	#header_main{
		height:126px;
	}
	#h0_pic_link{
		display:inline-block;
	}
	.h0m_col{
		height:calc(3 * 36px);
		width:50%;
	}
	#h0m_checkbox:checked + div + #h0_menu, #h0m_checkbox:checked + div + input + #h0_menu{
		height:calc(6 * 36px);
	}
}
@media only screen and (min-width:1001px){
	.h0m_col{
		height:auto;
		width:25%;
	}
	#h0m_checkbox:checked + div + #h0_menu{
		height:calc(3 * 36px);
	}
	#h0m_checkbox:checked + div + input + #h0_menu{
		height:auto;
	}
}
/*Body***************************************************************************/
body{
	margin:0;
	/**/background-color:#bbbbbb;/**/
}
.wide-section{
	position:relative;
	box-sizing:border-box;
	left:0px;
	width:100%;
	margin:0 0 15px 0;
	z-index:1;
	background-color:/**/white;/** /#f7f28c;/** /#e7e27c;/** /#bbffbb;/**/
	/** /border:1px solid green;/**/
	/** /box-shadow:0px 0px 6px #333333;/**/
	/**/box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);/**/
	-webkit-transition:width .5s, left .5s;-moz-transition:width .5s, left .5s;-o-transition:width .5s, left .5s;
}
.mid-section{
	position:relative;
	box-sizing:border-box;
	left:0px;
	width:100%;
	max-width:1000px;
	margin:0 auto 15px auto;
	z-index:1;
	background-color:/**/white;/** /#f7f28c;/** /#e7e27c;/** /#bbffbb;/**/
	/** /border:1px solid green;/**/
	/** /box-shadow:0px 0px 6px #333333;/**/
	/**/box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);/**/
	/** /-webkit-transition:width .5s, left .5s;-moz-transition:width .5s, left .5s;-o-transition:width .5s, left .5s;/**/
}
#body_div{
	padding:16px 12px 70px;
	-webkit-transition:padding .5s;-moz-transition:padding .5s;-o-transition:padding .5s;
}
.empty_div{
	padding:0 0 0 0;
}
.author_row{
	border-top:1px #dddddd solid;
	border-bottom:1px #dddddd solid;
	padding:4px 0;
	margin:0 4px 12px;
}
.author_wrapper{
	box-sizing:border-box;
	padding:4px 0;
	width:auto;
	height:60;
	color:#666666;
	font-size:14px;
	line-height:1.5;
}
.author_picDiv{
	float:left;
	display:inline-block;
	height:100%;
	width:auto;
	border-radius:50%;
	margin:0 8px 0 0;
	overflow:hidden;
}
.author_pic{
	top:0px;
	height:100%;
	width:auto;
}
.author_text{
	position:relative;
	display:inline-block;
	top:6px;
	height:35px;
}
.inText_picDiv_right{
	float:right;
	margin:0 0 6px;
	width:100%;
	background-color:#333333;
	-webkit-transition:width .5s, margin .5s;
	-moz-transition:width .5s, margin .5s;
	-o-transition:width .5s, margin .5s;
}
.inText_picDiv_left{
	float:left;
	margin:0 0 6px;
	width:100%;
	background-color:#333333;
	-webkit-transition:width .5s, margin .5s;
	-moz-transition:width .5s, margin .5s;
	-o-transition:width .5s, margin .5s;
}
.inText_pic{
	width:100%;
}
.inText_picCaption{
	box-sizing:border-box;
	padding:6px 9px 8px;
	width:100%;
	font-size:13px;
	line-height:1.2;
	color:white;
	letter-spacing:.05em;
}
.txt_pic{
	margin:none;
	height:1em;
}
#footer{
	box-sizing:border-box;
	margin:0 auto 0 auto;
	padding:35px 30px 25px;
	font-size:13px;
	line-height:1.5;
	color:#666666;
	/** /border:1px solid red;/**/
}
#bottom_ad{
}
#bottom_ad_image{
	/*height:100%;*/
	width:100%;
}
/*Screen size adjustments*******************************************************/
@media only screen and (min-width:601px){
	.inText_picDiv_right{
		margin:0 0 6px 15px;
		width:300px;
	}
	.inText_picDiv_left{
		margin:0 15px 6px 0;
		width:300px;
	}
}
@media only screen and (min-width:1001px){
	.wide-section{
		width:calc(100% - 30px);
		margin:0 15px 15px;
	}
	#body_div{
		padding:16px 7% 70px;
	}
	.empty_div{
	}
	#footer{
	}
}

